body {
  background-color: rgb(0, 39, 68);
  /* Match the blue background from the image */
  font-family: sans-serif;
  /* Use a sans-serif font */
  text-align: center;
  /* Center text elements */
  color: white;
  /* Use white text for contrast */
  font-size: 1.35em;
  
}

header {
  /* Adjust header styling as needed */
  padding: 20px;


display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
h1 {
  font-size: 40px;
  /* Adjust font sizes as needed */
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

main {
  /* Style for main content area */
  padding: 20px;
}

img {
  /* Adjust image dimensions and positioning as needed */
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}


.estudos-box {
  background-color: rgb(131, 151, 185);
  padding: 20px;
  /* Adjust padding for desired margin */
  /* Optional border for definition */
  margin: 0 auto;
  /* Center the box if needed */
  width: 85%;
  /* Adjust width as needed */
  /* text */
  color: white;
  text-align: justify;

  

  /* Add rounded corners: */
  border-radius: 35px;
  /* Adjust the radius value for desired roundness */
}

.estudos-box h2, .estudos-box h3 {
  text-align: left;
  text-indent: 20px; /* Adjust the value for desired indentation */
}



.versiculo-biblico{
  margin-top: 2em;
  text-align: center; /* Or any other desired alignment (e.g., center, right) */
  font-style: italic;
}

.referencia-biblica{
  text-align: right; /* Or any other desired alignment (e.g., center, right) */
  font-style: italic;
}


.carousel-container {
  width: 85%; /* Adjust width as needed */
  margin: 0 auto; /* Center the carousel */
  border-radius: 15px; /* Rounded corners */
}

.carousel-inner {
  display: flex; /* Align images horizontally */
  transition: transform 0.5s ease-in-out; /* Smooth animation */
}

.carousel-item {
  width: 100%;
  object-fit: cover; /* Ensure images fill the space */
}

.carousel-item img {
  width: 100%;
  height: 300px; /* Adjust height as needed */
}

/* Navigation button styling (optional) */
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* ... additional styling for buttons */
}
