#casos, #mortes{
  font-size: 2rem;
  border-radius: 20%
}


.body{
  background-color: gray;
}

#Titulo{
  background-color: rgb(255, 191, 128);
}


.card{
  margin-bottom: 1.5rem;
  font-size: 30px;
}

#casos_da_ultima_semana{
  background-color: rgb(255, 108, 108);
  margin-bottom: 1.5rem;
  font-size: 30px;
}

#mortes-da-ultima-semana{
  background-color: rgb(117, 111, 111);
  margin-bottom: 1.5rem;
  font-size: 30px;
}

#variacao_casos_estilo{
  background-color: rgb(250, 164, 164);
  font-size: 30px;
}

#variacao_mortes_estilo{
  background-color: rgb(175, 166, 166);
  font-size: 30px;
}

.option{
  background-color: aquamarine;
}


.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0%;
}


.dropdown{
  margin-top: 2rem;
  border-radius: 20%;
}

#locationButton{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color:rgba(43, 181, 216, 0.808);
  color: white;
}


.container{
  border-radius: 20%;
}