.html{
  font-size: 30px;
}

.body{
  background-color: gray;
}

#Titulo{
  background-color: rgb(255, 191, 128);
}

.btn{
  margin-block-start: 1.5rem;
}

.card{
  font-size: 30px;
  margin: 1.5rem;
}

#casos_da_ultima_semana{
  background-color: rgb(255, 108, 108);

}

#mortes-da-ultima-semana{
  background-color: rgb(175, 166, 166);
}

#variacao_casos_estilo{
  background-color: rgb(250, 164, 164);
}

#variacao_mortes_estilo{
  background-color: rgb(216, 209, 209);
}
