#casos, #mortes{
  font-size: 2rem;
  border-radius: 20%
}


.body{
  background-color: gray;
}

#Titulo{
  background-color: rgb(82, 197, 47);
}


.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0%;
}





.button.btn.btn-primary.dropdown-toggle{
  margin-bottom: 3rem;
  }

#locationButton{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color:rgba(43, 181, 216, 0.808);
  color: white;
}


.container{
  border-radius: 20%;
}